<h2 class="title">Profesor Dashboard</h2>
<div class="course-form">
  <input [(ngModel)]="newCourseName" placeholder="New course name" />
  <button (click)="addNewCourse()">Create</button>
</div>

<div class="modal-backdrop" *ngIf="editingCourse">
  <div class="modal">
    <h3>Edit Course</h3>

    <label>Name:
      <input [(ngModel)]="editingCourse.Name" maxlength="50" required />
    </label>

    <label>School ID:
      <input [(ngModel)]="editingCourse.SchoolId" maxlength="30" required />
    </label>

    <label>Description:
      <textarea [(ngModel)]="editingCourse.Description" rows="3" maxlength="150"></textarea>
    </label>

    <div class="modal-buttons">
      <button (click)="saveCourseChanges()"> Update</button>
      <button class="danger" (click)="deleteCourse()"> Delete</button>
      <button (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>

<ul class="course-list">
  <li *ngFor="let course of courses">
    <button (click)="selectCourse(course.id)">{{ course.Name }}</button>
    <button (click)="openEditor(course)"> Edit</button>
  </li>
</ul>


<p *ngIf="courses.length === 0" class="no-courses">No courses found for this professor.</p>

<!-- Student List -->
<div *ngIf="selectedCourse" class="student-section">
  <h3>Students in {{ selectedCourse.Name || selectedCourse.name }}</h3>
  <p> {{selectedCourse.Description}} </p>

  <table class="student-table">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>Grades</th>
        <th>Average</th>
        <th>New Grade</th>
        <th>Attendance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of enrolledStudents">
        <td>{{ student.name }}</td>
        <td>{{ student.grades?.join(', ') || '—' }}</td>
        <td>{{ student.average || '-' }}</td>
        <td>
          <input type="number" [(ngModel)]="student.newGrade" class="grade-input" />
          <button class="add-btn" (click)="addGrade(student)">Add</button>
        </td>
        <td>
          <button class="attendance present" (click)="markAttendance(student.StudentId, 'present')">Present</button>
          <button class="attendance absent" (click)="markAttendance(student.StudentId, 'absent')">Absent</button>
        </td>
      </tr>
    </tbody>
  </table>
  <p><strong>Class average:</strong> {{ classAverage }}</p>
</div>
