.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.auth-container {
    background-color: #576086;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 250px;
    width: 100%;
}

#heading {
    font-size: 28px;
    margin-bottom: 20px;
    color: #f0f8fe;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    margin: 8px 0;
    padding: 12px;
    border: 1px solid #9d9ea6;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.input:focus {
    border-color: #f1b294;
}

.button-container {
    margin: 20px 0;
}

.button-confirm {
    background-color: #f1b294;
    color: #576086;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 15px;
}

.button-confirm:hover {
    background-color: #9d9ea6;
    color: #f0f8fe;
}

.reset-message {
    margin: 10px 0;
    color: #f0f8fe;
    font-size: 16px;
}

.auth-links {
    margin-top: 15px;
    font-size: 14px;
    color: #f0f8fe;
}

.auth-links a {
    color: #f1b294;
    text-decoration: none;
    margin: 0 5px;
}

.auth-links a:hover {
    text-decoration: underline;
}

.divider {
    margin: 0 5px;
    color: #f0f8fe;
}