/* You can add global styles to this file, and also import other style files */
body,
html {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-y: auto;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
    display: flex;
    flex-direction: column;
}