/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Arial', sans-serif;
    background-color: #dee6ed;
    margin: 0;
    padding: 0px;
    color: #576086;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body,
html {
    overflow: hidden;
}

body,
html {
    overflow-y: auto;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}